@font-face {
    font-family: "Changa One";
    src: url(/fonts/ChangaOne.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto.ttf);
}

@font-face {
    font-family: "Personal Use Only";
    src: url(/fonts/PersonalUseOnly.otf);
}